useDynLib(wickrabacktest, .registration = TRUE)
export(backtest_run)
export(backtest_run_json)
export(backtest_version)
export(backtest_stream_new)
export(backtest_stream_step)
export(backtest_stream_step_json)
export(backtest_stream_equity_json)
export(backtest_stream_latest_equity_json)
export(backtest_stream_num_trades)
export(backtest_stream_finish_json)
export(backtest_stream_free)
